body { font-family: Arial; font-size: 12pt; background: white }
h1 { font-family: Arial; font-size: 20pt }
h2 { font-family: Arial; font-size: 18pt }
em { background: yellow }
td.lookup { text-align: right; vertical-align: top;  background: #cccccc }


